@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf")
}
.img-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
    .img-container span{
      font-size: 48px;
    }

  @media screen and (max-width: 600px) {
    .img-container {
      margin-left: 10%;
      width: 80%;
    }
    .img-container span{
      font-size: 64px;
    }
    .metric-label {
      text-align: center;
    }
    .metric-label span{
      font-size: 24px;
    }
  }

